<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @guest.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @guest.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @guest.address %>
</p>

<p>
  <b>Postal:</b>
  <%= @guest.postal %>
</p>

<p>
  <b>City:</b>
  <%= @guest.city %>
</p>

<p>
  <b>Country:</b>
  <%= @guest.country %>
</p>

<p>
  <b>Telefon:</b>
  <%= @guest.telefon %>
</p>

<p>
  <b>Email:</b>
  <%= @guest.email %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
