<%= simple_form_for(@drink) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :size %>
    <%= f.input :alcoholic %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
