<h1>Listing drinks</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Price</th>
    <th>Size</th>
    <th>Alcoholic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drinks.each do |drink| %>
  <tr>
    <td><%= drink.number %></td>
    <td><%= drink.title %></td>
    <td><%= drink.price %></td>
    <td><%= drink.size %></td>
    <td><%= drink.alcoholic %></td>
    <td><%= link_to 'Show', drink %></td>
    <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
    <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drink', new_drink_path %>
