<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @drink.number %>
</p>

<p>
  <b>Title:</b>
  <%= @drink.title %>
</p>

<p>
  <b>Price:</b>
  <%= @drink.price %>
</p>

<p>
  <b>Size:</b>
  <%= @drink.size %>
</p>

<p>
  <b>Alcoholic:</b>
  <%= @drink.alcoholic %>
</p>


<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
