<h1>Dinner 4 Two</h1>
<h2>The smart restaurant for nice people</h2>
<hr />

<%= link_to 'Guests', guests_path %> |  
<%= link_to 'Reservations', reservations_path %>



<%# raise %>

<!-- 
	<p>Find me in app/views/home/index.html.erb</p> 
-->
