<%= simple_form_for(@bill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :guest_id %>
    <%= f.input :order_sum %>
    <%= f.input :discount %>
    <%= f.input :total %>
    <%= f.input :tax %>
    <%= f.input :paid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
