<h1>Listing bills</h1>

<table>
  <tr>
    <th>Guest</th>
    <th>Order sum</th>
    <th>Discount</th>
    <th>Total</th>
    <th>Tax</th>
    <th>Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.guest_id %></td>
    <td><%= bill.order_sum %></td>
    <td><%= bill.discount %></td>
    <td><%= bill.total %></td>
    <td><%= bill.tax %></td>
    <td><%= bill.paid %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_bill_path %>
