<p id="notice"><%= notice %></p>

<p>
  <b>Guest:</b>
  <%= @bill.guest_id %>
</p>

<p>
  <b>Order sum:</b>
  <%= @bill.order_sum %>
</p>

<p>
  <b>Discount:</b>
  <%= @bill.discount %>
</p>

<p>
  <b>Total:</b>
  <%= @bill.total %>
</p>

<p>
  <b>Tax:</b>
  <%= @bill.tax %>
</p>

<p>
  <b>Paid:</b>
  <%= @bill.paid %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
