<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :guest_id %>
    <%= f.input :reservation_id %>
    <%= f.input :bill_id %>
    <%= f.input :item_id %>
    <%= f.input :item_type %>
    <%= f.input :position %>
    <%= f.input :price %>
    <%= f.input :discount %>
    <%= f.input :cancelled %>
    <%= f.input :product_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
