<h1>Listing orders</h1>

<table>
  <tr>
    <th>Guest</th>
    <th>Reservation</th>
    <th>Bill</th>
    <th>Item</th>
    <th>Item type</th>
    <th>Position</th>
    <th>Price</th>
    <th>Discount</th>
    <th>Cancelled</th>
    <th>ProductName</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.guest_id %></td>
    <td><%= order.reservation_id %></td>
    <td><%= order.bill_id %></td>
    <td><%= order.item_id %></td>
    <td><%= order.item_type %></td>
    <td><%= order.position %></td>
    <td><%= order.price %></td>
    <td><%= order.discount %></td>
    <td><%= order.cancelled %></td>
    <td><%= order.product_name %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
