<p id="notice"><%= notice %></p>

<p>
  <b>Guest:</b>
  <%= @order.guest_id %>
</p>

<p>
  <b>Reservation:</b>
  <%= @order.reservation_id %>
</p>

<p>
  <b>Bill:</b>
  <%= @order.bill_id %>
</p>

<p>
  <b>Item:</b>
  <%= @order.item_id %>
</p>

<p>
  <b>Item type:</b>
  <%= @order.item_type %>
</p>

<p>
  <b>Position:</b>
  <%= @order.position %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Discount:</b>
  <%= @order.discount %>
</p>

<p>
  <b>Cancelled:</b>
  <%= @order.cancelled %>
</p>

<p>
  <b>ProductName:</b>
  <%= @order.product_name %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
