<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guest_id %><br />
    <%#= f.number_field :guest_id %>
    <%= f.collection_select(:guest_id, Guest.all, :id, :fullname) %>
  </div>

  <div class="field">
    <%= f.label :reservation_date %><br />
    <%= f.datetime_select :reservation_date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.check_box :priority %>
  </div>
  <div class="field">
    <%= f.label :special_service %><br />
    <%= f.check_box :special_service %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
