<h1>Listing reservations</h1>

<table>
  <tr>
    <th>Reservation</th>
    <th>Reservation date</th>
    <th>Duration</th>
    <th>Priority</th>
    <th>Special service</th>
    <th>Guest</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.id %></td>
    
    <td><%= reservation.reservation_date %></td>
    <td><%= reservation.duration %></td>
    <td><%= reservation.priority %></td>
    <td><%= reservation.special_service %></td>
    <td>(<%= reservation.guest_id %>) <%= reservation.guest.first_name %> <%= reservation.guest.last_name %></td>
    <td><%= reservation.notes %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
