<p id="notice"><%= notice %></p>

<h2>Reservation <%= @reservation.id %></h2>

<br /><hr /><br />

<p>
  <b>Guest:</b>
  <%= @reservation.guest_id %>
</p>

<p>
  <b>Reservation date:</b>
  <%= @reservation.reservation_date %>
</p>

<p>
  <b>Duration:</b>
  <%= @reservation.duration %>
</p>

<p>
  <b>Priority:</b>
  <%= @reservation.priority %>
</p>

<p>
  <b>Special service:</b>
  <%= @reservation.special_service %>
</p>

<p>
  <b>Notes:</b>
  <%= @reservation.notes %>
</p>

<br /><hr /><br />

<h2>Related guest:</h2>

<p>
  <b>Name:</b>
  <% guest_name = "#{@reservation.guest.first_name} #{@reservation.guest.last_name}" %>
  <%= link_to guest_name, @reservation.guest %>
</p>

<br /><hr /><br />

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
