<%= simple_form_for(@table) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :reservation_id %>
    <%= f.input :number %>
    <%= f.input :seats %>
    <%= f.input :exclusive %>
    <%= f.input :taken %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
