<h1>Listing tables</h1>

<table>
  <tr>
    <th>Reservation</th>
    <th>Number</th>
    <th>Seats</th>
    <th>Exclusive</th>
    <th>Taken</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tables.each do |table| %>
  <tr>
    <td><%= table.reservation_id %></td>
    <td><%= table.number %></td>
    <td><%= table.seats %></td>
    <td><%= table.exclusive %></td>
    <td><%= table.taken %></td>
    <td><%= link_to 'Show', table %></td>
    <td><%= link_to 'Edit', edit_table_path(table) %></td>
    <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Table', new_table_path %>
