<p id="notice"><%= notice %></p>

<p>
  <b>Reservation:</b>
  <%= @table.reservation_id %>
</p>

<p>
  <b>Number:</b>
  <%= @table.number %>
</p>

<p>
  <b>Seats:</b>
  <%= @table.seats %>
</p>

<p>
  <b>Exclusive:</b>
  <%= @table.exclusive %>
</p>

<p>
  <b>Taken:</b>
  <%= @table.taken %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
