<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @dish.number %>
</p>

<p>
  <b>Title:</b>
  <%= @dish.title %>
</p>

<p>
  <b>Description:</b>
  <%= @dish.description %>
</p>

<p>
  <b>Price:</b>
  <%= @dish.price %>
</p>

<p>
  <b>Notes:</b>
  <%= @dish.notes %>
</p>


<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
