<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :bill_id %>
    <%= f.input :type %>
    <%= f.input :total %>
    <%= f.input :paid_at %>
    <%= f.input :card_number %>
    <%= f.input :card_valid_until %>
    <%= f.input :card_provider %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
