<h1>Listing payments</h1>

<table>
  <tr>
    <th>Bill</th>
    <th>Type</th>
    <th>Total</th>
    <th>Paid at</th>
    <th>Card number</th>
    <th>Card valid until</th>
    <th>Card provider</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.bill_id %></td>
    <td><%= payment.type %></td>
    <td><%= payment.total %></td>
    <td><%= payment.paid_at %></td>
    <td><%= payment.card_number %></td>
    <td><%= payment.card_valid_until %></td>
    <td><%= payment.card_provider %></td>
    <td><%= link_to 'Show', payment_path(payment) %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
