<p id="notice"><%= notice %></p>

<p>
  <b>Bill:</b>
  <%= @payment.bill_id %>
</p>

<p>
  <b>Type:</b>
  <%= @payment.type %>
</p>

<p>
  <b>Total:</b>
  <%= @payment.total %>
</p>

<p>
  <b>Paid at:</b>
  <%= @payment.paid_at %>
</p>

<p>
  <b>Card number:</b>
  <%= @payment.card_number %>
</p>

<p>
  <b>Card valid until:</b>
  <%= @payment.card_valid_until %>
</p>

<p>
  <b>Card provider:</b>
  <%= @payment.card_provider %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
